/* Common Css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Exo", sans-serif; */
    /* font-family: "Inter", sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
}

body {
    min-height: 100vh;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

li,
ul {
    list-style: none;
}

button {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.dark_button {
    padding: 15px 40px;
    background-color: #5B46F6;
    color: #fff;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    transition: background-color 0.4s ease;
}

.dark_button:hover {
    background-color: #4635C4;
}

.light_button {
    padding: 15px 40px;
    background-color: #468CF6;
    color: #fff;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    transition: background-color 0.4s ease;
}

.light_button:hover {
    background-color: #6AA9FF;
}

/* Header Section Start */
#header_section {
    padding: 1.5rem 6rem;
}

.links a {
    margin-inline: 1rem;
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    transition: color ease 0.4s;
}

.links a:hover {
    margin-inline: 1rem;
    color: #000;
}

.logo {
    font-family: "Exo", sans-serif;
    color: #000001;
    font-weight: 700;
    font-size: 1.5rem;
}

.logo span {
    color: #5B46F6;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links button {
    margin-right: 1rem;
}

.links button {
    background-color: #5B46F6;
    border: 2px solid #5B46F6;
    color: #fff;
    padding: 12px 23px;
    border-radius: 7px;
    transition: all ease 0.5s;
}

.links button:hover {
    background-color: transparent;
    color: #000;
}

#navbar .fa-bars,
.links .fa-xmark {
    display: none;
    font-size: 2rem;
    color: #5B46F6;
    cursor: pointer;
}

/* Header Section End */

/* Hero Section Start */
#hero_section {
    padding: 6rem;
}

#hero_section p {
    color: #FD8D1E;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

#hero_section h2 {
    color: #1D2D3F;
    font-size: 4rem;
    max-width: 650px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

#hero_section h3 {
    color: #848484;
    font-size: 1.1rem;
    line-height: 2;
    max-width: 500px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

#hero_section form {
    display: flex;
    align-items: center;
    max-width: 500px;
    gap: 30px;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#hero_section form input {
    width: fit-content;
    background: transparent;
    border: none;
    padding: 35px;
    outline: none;
    width: 60%;
    font-size: 1rem;
}

#hero_section form button {
    padding: 15px 40px;
    background-color: #5B46F6;
    color: #fff;
    border: none;
    border-radius: 8px;
    transition: background-color 0.4s ease;
}

#hero_section form button:hover {
    background-color: #4635C4;
}

/* Hero Section End */

/* About Section Start */

#about_section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 6rem;
}

#about_section img {
    max-width: 450px;
}

#about_section p {
    color: #FD8D1E;
    font-size: 1rem;
    margin-top: 20px;
    font-weight: 600;
}

#about_section h2 {
    color: #1D2D3F;
    font-size: 3rem;
    max-width: 500px;
    margin-top: 20px;
}

#about_section h3 {
    color: #848484;
    font-size: 1rem;
    max-width: 500px;
    margin-top: 20px;
}

/* About Section End */

/* Services Section Start */
#services_section {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding: 3rem 3rem 6rem 3rem;
}

#services_section .left_section h2 {
    font-size: 3rem;
    max-width: 400px;
    margin-bottom: 20px;
    color: #1D2D3F;
}

#services_section .left_section h3 {
    font-size: 1rem;
    max-width: 400px;
    margin-bottom: 20px;
    color: #848484;
}

#services_section .right_section {
    display: grid;
    grid-template-columns: repeat(2, 300px);
}

#services_section .right_section .child h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #1D2D3F;
    margin-bottom: 20px;
}

#services_section .right_section .child p {
    color: #848484;
    margin-bottom: 20px;
    max-width: 250px;
}

/* Services Section End */

/* Features Section Start */

#features_section {
    padding: 3rem 3rem 6rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#features_section .left_section p {
    color: #FD8D1E;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

#features_section .left_section h2 {
    color: #1D2D3F;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    max-width: 500px;
}

#features_section .left_section h3 {
    color: #848484;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    max-width: 450px;
    line-height: 1.7;
}

#features_section .right_section img {
    max-width: 400px;
}

/* Features Section End */

/* Testimonial Section Start */
#testimonial_section {
    position: relative;
    margin: 6rem 2rem;
    background-color: #5B46F6;
    padding: 5rem;
    border-radius: 40px;
    z-index: 2;
}

#testimonial_section h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 2.5rem;
}

#testimonial_section .quotes {
    position: absolute;
    top: 3rem;
    right: 3rem;
    z-index: -1;
}

.testimonial_inner_section {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
}

.testimonial_inner_section .container {
    padding: 2rem;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
}

.testimonial_inner_section .container p {
    max-width: 500px;
}

.testimonial_inner_section .container .text_img_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 30px;
}

.testimonial_inner_section .container .text_img_container h4 {
    color: #1D2D3F;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.testimonial_inner_section .container .text_img_container p {
    color: #848484;
}

.testimonial_inner_section .container .text_img_container img {
    border-radius: 50%;
}

.testimonial_inner_section .container h3 {
    color: #1D2D3F;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.testimonial_inner_section .container p {
    color: #848484;
    font-size: 1rem;
    line-height: 1.8;
}

/* Testimonial Section End */

/* Blog Section Start */

#blog_section {
    padding-block: 6rem;
}

#blog_section .blog_header {
    text-align: center;
}

#blog_section .blog_header p {
    color: #FD8D1E;
    font-size: 1rem;
    margin-bottom: 1.2rem;
    font-weight: 600;
}

#blog_section .blog_header h2 {
    font-size: 3rem;
    max-width: 500px;
    margin-inline: auto;
    margin-bottom: 20px;
    color: #1D2D3F;
}

.blog_inner_container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    gap: 1rem;
}

.blog_inner_container .box img {
    max-width: 250px;
    padding: 20px 30px;
    border-radius: 15px;
    background-color: #1E1E1E;
}

.blog_inner_container .box .text_container h3 {
    color: #1D2D3F;
    margin-top: 2rem;
    font-size: 1.3rem;
}

.blog_inner_container .box .text_container p {
    color: #848484;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    max-width: 250px;
}

.blog_inner_container .box .text_container a {
    color: #FD8D1E;
    border-bottom: 2px solid #FD8D1E;
    transition: color 0.4s ease;
}

.blog_inner_container .box .text_container a:hover {
    color: #D5770E;
}

/* Blog Section End */

/* Contact Section Start */
#contact_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 6rem 0;
}

#contact_section h2 {
    color: #1D2D3F;
    font-size: 3rem;
    margin-top: 20px;

}

#contact_section #getInTouch {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 1rem;
    width: 520px;
}

#contact_section #getInTouch input,
#contact_section #getInTouch textarea {
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #7B838F;
    outline: none;
    font-size: 1rem;
}

#contact_section #getInTouch textarea {
    height: 180px;
    resize: none;
}

#contact_section #getInTouch button {
    color: #fff;
    background-color: #5B46F6;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    font-size: 1rem;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

#contact_section #getInTouch button:hover {
    background-color: #4635C4;
}

/* Contact Section End */






























/* Media Quires Start*/
@media (max-width: 850px) {

    /* Header Section Start */
    #navbar .fa-bars,
    .links .fa-xmark {
        display: block;
    }

    .links .fa-xmark {
        color: #fff;
        top: 20px;
        left: 20px;
        position: absolute;
    }

    #header_section {
        padding: 1.5rem 2rem;
    }

    .links {
        display: flex;
        flex-direction: column;
        position: fixed;
        background: #2C40F2BF;
        top: 0;
        right: 0;
        min-height: 100vh;
        width: 200px;
        right: -200px;
        z-index: 2;
        transition: right 0.4s;
    }

    .links a,
    .links button {
        margin-top: 3rem;
        color: #fff;
    }

    .links a:first-child {
        margin-top: 5rem;
    }

    .links a:hover,
    .links button:hover {
        color: #ebe8e8d5;
    }

    .links button {
        width: 200px;
    }

    /* Header Section End */

    /* Hero Section Start */
    #hero_section p {
        font-size: 1rem;
    }

    #hero_section h2 {
        font-size: 2.5rem;
        max-width: 420px;
    }

    #hero_section h3 {
        color: #848484;
        font-size: 1rem;
        max-width: 400px;
    }

    #hero_section form {
        max-width: 400px;
        gap: 15px;
    }

    /* Hero Section End */

    /* About Section Start */

    #about_section {
        flex-direction: column-reverse;
    }

    #about_section p {
        font-size: 0.9rem;
    }

    #about_section h2 {
        font-size: 2.5rem;
        max-width: 420px;
    }

    #about_section h3 {
        font-size: 1rem;
        max-width: 400px;
    }

    /* About Section End */

    /* Services Section Start */
    #services_section {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    #services_section .right_section {
        grid-template-columns: repeat(2, 265px);
    }

    #services_section .left_section h2 {
        font-size: 2.5rem;
    }

    /* Services Section End */

    /* Features Section Start */
    #features_section {
        flex-direction: column-reverse;
        gap: 50px;
    }

    #features_section .left_section h2 {
        font-size: 2.5rem;
        max-width: 420px;
    }

    #features_section .left_section h3 {
        font-size: 1rem;
        max-width: 400px;
    }

    #features_section .left_section p {
        font-size: 0.9rem;
    }

    /* Features Section End */

    /* Testimonial Section Start */
    .testimonial_inner_section {
        flex-direction: column;
    }

    /* Testimonial Section End */

    /* Blog Section Start */
    .blog_inner_container {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .blog_inner_container .box img {
        max-width: 350px;
    }

    #blog_section .blog_header h2 {
        font-size: 2.5rem;
    }

    /* Blog Section End */

}

/* Media Quires End*/