/* Common Css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Exo", sans-serif; */
    /* font-family: "Inter", sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

li,
ul {
    list-style: none;
}

button {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

/* Header Section Start */
#header_section {
    padding: 1.5rem 6rem;
}

.links a {
    margin-inline: 1rem;
    color: #353535;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    transition: color ease 0.4s;
}

.links a:hover {
    margin-inline: 1rem;
    color: #000;
}

.logo {
    font-family: "Exo", sans-serif;
    color: #000001;
    font-weight: 700;
    font-size: 1.5rem;
}

.logo span {
    color: #5B46F6;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links button {
    margin-right: 1rem;
}

.links button {
    background-color: #5B46F6;
    border: 2px solid #5B46F6;
    color: #fff;
    padding: 12px 23px;
    border-radius: 7px;
    transition: all ease 0.5s;
}

.links button:hover {
    background-color: transparent;
    color: #000;
}

#navbar .fa-bars,
.links .fa-xmark {
    display: none;
    font-size: 2rem;
    color: #5B46F6;
    cursor: pointer;
}

/* Header Section End */

/* Hero Section Start */
#hero_section {
    padding: 6rem;
    font-family: "Inter", sans-serif;
}

#hero_section p {
    color: #FD8D1E;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

#hero_section h2 {
    color: #1D2D3F;
    font-size: 4rem;
    max-width: 650px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

#hero_section h3 {
    color: #848484;
    font-size: 1.1rem;
    line-height: 2;
    max-width: 500px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

#hero_section form {
    display: flex;
    align-items: center;
    max-width: 500px;
    gap: 30px;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#hero_section form input {
    width: fit-content;
    background: transparent;
    border: none;
    padding: 35px;
    outline: none;
    width: 60%;
    font-size: 1rem;
}

#hero_section form button {
    padding: 15px 40px;
    background: #5B46F6;
    color: #fff;
    border: none;
    border-radius: 8px;
}

/* Hero Section End */






























/* Media Quires Start*/
@media (max-width: 850px) {

    /* Header Section Start */
    #navbar .fa-bars,
    .links .fa-xmark {
        display: block;
    }

    .links .fa-xmark {
        color: #fff;
        top: 20px;
        left: 20px;
        position: absolute;
    }

    #header_section {
        padding: 1.5rem 2rem;
    }

    .links {
        display: flex;
        flex-direction: column;
        position: fixed;
        background: #2C40F2BF;
        top: 0;
        right: 0;
        min-height: 100vh;
        width: 200px;
        right: -200px;
        z-index: 2;
        transition: right 0.4s;
    }

    .links a,
    .links button {
        margin-top: 3rem;
        color: #fff;
    }

    .links a:first-child {
        margin-top: 5rem;
    }

    .links a:hover,
    .links button:hover {
        color: #ebe8e8d5;
    }

    .links button {
        width: 200px;
    }

    /* Header Section End */

    /* Hero Section Start */
    #hero_section p {
        font-size: 1rem;
    }

    #hero_section h2 {
        font-size: 2.5rem;
        max-width: 420px;
    }

    #hero_section h3 {
        color: #848484;
        font-size: 1rem;
        max-width: 400px;
    }

    #hero_section form {
        max-width: 400px;
        gap: 15px;
    }

    /* Hero Section End */

}

/* Media Quires End*/